name: Angular CI

on:
  push: 
    branches:
      - main
  pull_request:
    branches:
     - main


jobs:
  build:
    name: ABuild Angular App
    runs-on: ubuntu-latest

    steps:
      - name: checkout source
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v1.4.4
        with:
          node-version: 18
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci --force

      - name: Build Application
        run: npm run build -- --configuration production

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: angular-dist
          path: dist/*